@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*--secondary-color: #ff8f9c;*/

:root {
    --bg-color: #fff;
    --text-color: #212121;
    --primary-color: #e5345b;
    --layout-color: #20E3B2;
    --sticky-color: #283E51;
    --card-bg: #ffffff99;
    --light-gray: #ededed;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.4rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bx {
    font-size: 2.6rem;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 12px;
}

.category__list::-webkit-scrollbar {
    height: 7px;
}

.category__list::-webkit-scrollbar-track {
    background-color: #fff;
}

.category__list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 12px;
}

.product-featured__wrapper::-webkit-scrollbar {
    height: 7px;
}

.product-featured__wrapper::-webkit-scrollbar-track {
    background-color: #fff;
}

.product-featured__wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 12px;
}