/* Header */
header {
    background-color: #333;
    color: var(--text-color);
    position: relative;
    height: 140px;
    top: 0;
    overflow: hidden;
}

header .header {
    position: fixed;
    top: 30px;
    right: 0;
    left: 0;
    z-index: 999;
    transition: .4s;
}

header .header.sticky {
    top: 0;
    background-color: var(--sticky-color);
    padding: 5px 10px;
    box-shadow: rgba(193, 88, 235, 0.25) 0px 25px 20px -20px;
}

header .header__main {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.animation-header {
    animation: showHeader 0.5s ease-in-out 1 forwards;
}

@keyframes showHeader {
    0% {
        opacity: 0;
        transform: translate(0, 50px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.logo {
    height: 100%;
    font-size: 2rem;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    position: relative;
    font-size: 3.5rem;
    line-height: 3.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #C6FFDD;
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
}

.logo-text::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);
    right: -50%;
}

.header-mid {
    position: relative;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.search-form {
    margin: 15px 0;
    height: 48px;
    width: 100%;
    background-color: #ffffff1f;
    border-radius: 12px;
    border-color: transparent;
    backdrop-filter: blur(20px);
    transition: background-color 0.2s cubic-bezier(0.05, 0, 0.2, 1) 0s, border-color 0.2s cubic-bezier(0.05, 0, 0.2, 1) 0s;
}

.search-form .bx-search {
    position: absolute;
    top: 25%;
    left: 15px;
    z-index: -1;
    color: #AEA9AB;
}

.search {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    color: var(--text-color);
    caret-color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.search::placeholder {
    color: #AEA9AB;
}

.header-right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.switch-dark-light,
.header-user,
.header-cart {
    position: relative;
    width: 48px;
    height: 48px;
    padding: 12px;
    background-color: #ffffff1f;
    border-radius: 12px;
    border-color: transparent;
    backdrop-filter: blur(20px);
    transition: background-color 0.2s cubic-bezier(0.05, 0, 0.2, 1) 0s, border-color 0.2s cubic-bezier(0.05, 0, 0.2, 1) 0s;
}

#cart {
    display: block;
    color: inherit;
}

.auth {
    position: absolute;
    right: 0;
    list-style: none;
    background-color: var(--primary-color);
}

/* Cart */
.cart-notice {
    position: absolute;
    top: 4px;
    right: 4px;
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 50%;
}

.cart-items {
    position: relative;
}

.cart-items {
    position: fixed;
    top: 24px;
    right: 24px;
    bottom: 48px;
    z-index: 210;
    width: 100%;
    max-width: 400px;
    height: calc(((100% - 0px) - 0px) - 48px);
    background-color: var(--bg-color);
    border-radius: 16px;
    overflow: auto;
    opacity: 1;
    visibility: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
}

.cart-items__layout {
    width: 100%;
    max-height: 100%;
    padding: 24px;
    background-color: var(--bg-color);
    overflow: hidden auto;
}

.cart-items__header {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    display: flex;
    justify-content: space-between;
}

.cart-items__header a {
    font-size: 3.4rem;
}

.header-underline {
    width: calc(100% + 48px);
    margin: 0px 0px 12px -24px;
    opacity: .4;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 209;
    background-color: #0000004C;
    visibility: hidden;
}

/* Navigation Bar */
.navbar {
    width: 100%;
    height: 65px;
    margin-bottom: 35px;
    background-color: #333;
}

.navbar ul {
    height: 100%;
    list-style: none;
    font-size: 2.6rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navbar ul li a {
    position: relative;
    display: inline-block;
    padding: 12px;
    color: var(--text-color);
}

.navbar ul li a.active-nav {
    color: var(--primary-color);
}

.navbar ul li a.active-nav::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 50px;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 50px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

.navbar ul li a:hover,
.navbar ul li a:hover::after {
    color: var(--primary-color);
    transform: scaleX(1);
    transform-origin: left;
}

/* Banner */
.banner {
    width: 100%;
    max-width: 1400px;
    height: 500px;
    margin: auto;
    border-radius: 24px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.category {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
}

.category .category__wrapper .category__list {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden;
    scroll-snap-type: x mandatory;
}

.category__list .category__item {
    min-width: calc(25% - 20px);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    scroll-snap-align: start;
}

.category__item-img {
    padding: 10px;
    background-color: var(--light-gray);
    border: 1px solid #ccc;
    border-radius: 8px;
}

.category__item-img img {
    width: 30px;
}

.category__item-box {
    width: 100%;
}

.category__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__item-title {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;

}

.category__item-show {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

/* Product Featured */
.product-featured {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 35px;
}

.product-featured .product-featured__wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 15px;
}

.product-featured .showcase-container {
    min-width: 100%;
    padding: 30px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    scroll-snap-align: start;
}

.product-featured .showcase {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-featured .showcase>div {
    min-width: calc(50% - 10px);
}

.product-featured .showcase__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-featured .showcase__content {
    margin-top: 30px;
}

.product-featured .showcase-rating {
    color: #f6a355;
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 15px;
}

.product-featured .showcase__title {
    font-size: 1.75rem;
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.product-featured .showcase__desc {
    color: gray;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 10px;
}

.product-featured .price-box {
    font-size: 2.4rem;
    line-height: 3rem;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.product-featured .price {
    color: var(--primary-color);
    font-weight: 600;
}

.product-featured del {
    color: gray;
    font-weight: 300;
}

.product-featured .showcase__btn {
    background-color: var(--primary-color);
    padding: 8px 15px;
    color: var(--bg-color);
    font-size: 2.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: all ease .2s;
}

.product-featured .showcase-status {
    margin-bottom: 15px;
}

.product-featured .showcase-status .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-featured .showcase-status-bar {
    position: relative;
    background-color: var(--light-gray);
    height: 10px;
    border-radius: 10px;
}

.product-featured .showcase-status-bar::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    height: 4px;
    width: 40%;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.product-featured .countdown-desc {
    display: block;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-featured .countdown {
    display: flex;
    gap: 20px;
}

.product-featured .countdown__content {
    padding: 5px 10px;
    background-color: var(--light-gray);
    border-radius: 10px;
    text-align: center;
}

.product-featured .display-number {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.2rem;
    min-width: 40px;
}

.product-featured .display-text {
    color: gray;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

/* Product List */
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.products {
    margin: 70px 0;
}

.product-title {
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    text-align: center;
}

.list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.card {
    position: relative;
    max-height: 450px;
    color: #fff;
    background-color: #F62682;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s;
}

.card:hover {
    transform: scale(1.07);
}

.card__img {
    width: 100%;
    height: 250px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.card__title {
    display: inline-block;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    margin-bottom: 20px;
}

.card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}

.card__price {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.card__btn {
    position: relative;
    width: 100%;
    max-width: 120px;
    padding: 7px 0;
    border-radius: 8px;
    font-size: 2.8rem;
    line-height: 2.8rem;
    background: #396afc;
    background: linear-gradient(to top, #2948ff, #396afc);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card__btn::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0px;
    height: 100%;
    background-color: #f3f3f3;
    box-shadow: 0 0 10px #fff;
    filter: blur(1px);
    opacity: .9;
    transition: .4s;
    transform: rotate(10deg);
}

.card__btn:hover::before {
    left: 110%;
    width: 25px;
}

.card__btn .bx {
    color: #fff;
}

/* Footer */
.footer {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__list {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto 60%;
    gap: 0 50px;
    color: var(--text-color);
}

.footer__list h5 {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.footer__list-left span {
    display: inline-block;
    margin: 20px 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.footer__list-left form {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.footer__list-left form input {
    width: 60%;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 8px;
    caret-color: var(--text-color);
}

.footer__list-left form input::placeholder {
    color: gray;
}

.footer__list-left form button {
    height: 40px;
    padding: 10px 20px;
    color: #fff;
    background-color: #2948ff;
    border-radius: 8px;
}

.footer__list-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.footer__list-right ul li {
    padding: 7px 0;
}

.footer__list-right ul li a {
    position: relative;
    color: gray;
}


.footer__list-right ul li a:hover {
    color: var(--text-color);
}

.footer__list-right ul li a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    bottom: -1px;
    transition: all .2s;
}

.footer__list-right .contact ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__list-right .contact .bx {
    font-size: 2rem;
    line-height: 2.2rem;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    color: var(--text-color);
}

.footer__bottom {
    border-top: 1px solid #ccc;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-left ul {
    display: flex;
    gap: 50px;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

.footer__bottom-left ul li a {
    position: relative;
    color: gray;
}

.footer__bottom-left ul li a:hover {
    color: var(--text-color);
}

.footer__bottom-left ul li a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    bottom: -1px;
    transition: all .2s;
}

.footer__bottom-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer__bottom-right .bx {
    color: #fff;
    background-color: #202225;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer__bottom-right .bx:hover {
    background-color: #2948ff;
}

.footer__bottom-right .bx:nth-child(3) {
    background-color: #2948ff;
}